services:
  mongodb:
    image: mongo:latest
    container_name: security_mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: 
      context: ./backend
    container_name: security_backend
    restart: always
    ports:
      - "8000:8000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    depends_on:
      - mongodb
    env_file:
      - ./backend/.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backend/saas.db:/app/saas.db

  frontend:
    build:
      context: ./frontend
    container_name: security_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000

volumes:
  mongodb_data:
